<div class="container">
    <div class="row">
        <div class="col-xs-0 col-sm-3" id="sidebar">
            <div class="affix">
                <ul class="list-unstyled" ng-repeat="interest in interests">
                    <li>
                        <a href="" ng-click="gotoAnchor(interest.css)">{{interest.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9" id="content">
            <div class="row">
                <div class="col-xs-12 col-sm-9" id="banner">
                    <h1>Joanne Hsu</h1>
                </div>
              </div>
            <div class="row">
                <div class="col-xs-9 col-sm-9" id="home">
                    <h2>About Me</h2>
                    <p>This website highlights my capability to excel in web development. I will work as a dedicated employee and become a valuable asset to my employer.</p>
                    <p id="leap-forward">A Bold Leap-Forward</p>
                    <p>I discovered my interest in programming for web development when I was working as a postdoctoral fellow in molecular biology at the Fred Hutchinson Cancer Research Center. As soon as I finished my postdoctoral training, I decided to study full time for a career in web development. During my study and volunteer work, I have found that my past academic training enables me to develop a well-thought-out plan in designing websites. As a result, I have consistently been top of the class in UC Davis’s Web Development Certificate Program. The instructors’ reference letters as included on my resume website bear this out.</p>
                    <p id="web-development">Keen Interest in Web Development</p>
                    <p>Web development is both fascinating and intellectually challenging to me. It allows me to make good use of my creativity, problem-solving skills, and high intellectual capacity. In designing websites and applications with HTML/CSS, JavaScript, and PHP, as shown in my portfolio, I always make my best effort to ensure that they are efficient, reliable, user-friendly and visually appealing. I would also make sure that the code is clean, organized and clearly annotated for easy reading, reuse, and maintenance.  I currently study at UC Davis’s Web Development Certificate Program, which teaches foundation skills in web development, and volunteer as a Web Developer at Hearing Speech &amp; Deaf Center to improve and maintain its WordPress website. I keep myself up-to-date with latest web development trends by reading blogs and taking online classes at Coursera.</p> 
                    <p id="perseverance">Perseverance and Diligence</p>
                    <p>My excellent performance in academics and recent study of web development (as highlighted in the resume) is attributable to my extra diligence, particularly when I must deal with my hearing impairment. Luckily, technology has been very helpful. With cochlear implant, I am able to hear better and communicate with others in speech. With emails, video conferencing and text messaging, I am able to communicate remotely and conveniently with others. My deficiency in hearing, according to my UC Berkeley doctoral thesis advisor, has been "more than compensated by her intelligence and hard work." I look forward to a great success in the career of web development as time goes by.</p>
                    <p id="backtotop"><a href="" ng-click="gotoAnchor('home')">Back to Top</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-9" id="footer">
                    <p>&copy; Joanne Hsu 2018 (All images are from Google search)</p>
                </div>
            </div>
        </div>
    </div>
</div>